@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,500');

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

body {
    font-family: Overpass, sans-serif;
    overflow: hidden;
    height: 99%;
    max-height: 99%;
}

.navbar-dark {
    background-color: darkred !important;
}

.navbar-brand {
    font-weight: 500;
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        margin-left: 35%;
    }
}

.tc-card-name {
    font-weight: 300;
}

.tc-card-desc {
    text-transform: uppercase;
    font-weight: 500;
    color: grey;
}

.score {
    font-family: sans-serif;
    text-align: center;
    font-weight: 300;
}

#main {
    position: relative;
    width: 320px;
    height: 480px;
    left: 50%;
    margin-left: -160px;
}
